.footer {
  position: relative;
  padding: 12px;
  background-color: var(--theme-bg-1);
  border-top-width: 2px;
  z-index: 8;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
